define(['jquery'], function($) {
    'use strict';

     return function() {
        $.validator.addMethod(
            'validate-something',
            function(value, element) {

            }
        );
    }
});
