<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ctasca\MageBundle\Api\MakerModuleInterface" type="Ctasca\MageBundle\Model\Maker\Module"/>
    <preference for="Ctasca\MageBundle\Api\MakerHttpControllerInterface" type="Ctasca\MageBundle\Model\Maker\HttpController"/>
    <preference for="Ctasca\MageBundle\Api\MakerEtcXmlInterface" type="Ctasca\MageBundle\Model\Maker\EtcXml"/>
    <preference for="Ctasca\MageBundle\Api\MakerModelSetInterface" type="Ctasca\MageBundle\Model\Maker\ModelSet"/>
    <preference for="Ctasca\MageBundle\Api\MakerModelInterface" type="Ctasca\MageBundle\Model\Maker\Model"/>
    <preference for="Ctasca\MageBundle\Api\MakerBlockInterface" type="Ctasca\MageBundle\Model\Maker\Block"/>
    <preference for="Ctasca\MageBundle\Api\MakerHelperInterface" type="Ctasca\MageBundle\Model\Maker\Helper"/>
    <preference for="Ctasca\MageBundle\Api\MakerCustomerDataInterface" type="Ctasca\MageBundle\Model\Maker\CustomerData"/>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="createModuleCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateModuleCommand</item>
                <item name="createControllerCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateControllerCommand</item>
                <item name="createEtcXmlCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateEtcXmlCommand</item>
                <item name="createModelSetCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateModelSetCommand</item>
                <item name="createModelCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateModelCommand</item>
                <item name="createBlockCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateBlockCommand</item>
                <item name="createHelperCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateHelperCommand</item>
                <item name="createCustomerDataCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateCustomerDataCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Ctasca\MageBundle\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Ctasca\MageBundle\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">MageBundle_Logger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Ctasca\MageBundle\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
