<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ctasca\MageBundle\Api\MakerModuleInterface" type="Ctasca\MageBundle\Model\Maker\Module"/>
    <preference for="Ctasca\MageBundle\Api\MakerHttpControllerInterface" type="Ctasca\MageBundle\Model\Maker\HttpController"/>
    <preference for="Ctasca\MageBundle\Api\MakerEtcXmlInterface" type="Ctasca\MageBundle\Model\Maker\EtcXml"/>
    <preference for="Ctasca\MageBundle\Api\MakerModelSetInterface" type="Ctasca\MageBundle\Model\Maker\ModelSet"/>
    <preference for="Ctasca\MageBundle\Api\MakerModelInterface" type="Ctasca\MageBundle\Model\Maker\Model"/>
    <preference for="Ctasca\MageBundle\Api\MakerBlockInterface" type="Ctasca\MageBundle\Model\Maker\Block"/>
    <preference for="Ctasca\MageBundle\Api\MakerHelperInterface" type="Ctasca\MageBundle\Model\Maker\Helper"/>
    <preference for="Ctasca\MageBundle\Api\MakerCustomerDataInterface" type="Ctasca\MageBundle\Model\Maker\CustomerData"/>
    <preference for="Ctasca\MageBundle\Api\MakerViewModelInterface" type="Ctasca\MageBundle\Model\Maker\ViewModel"/>
    <preference for="Ctasca\MageBundle\Api\MakerObserverInterface" type="Ctasca\MageBundle\Model\Maker\Observer"/>
    <preference for="Ctasca\MageBundle\Api\MakerPluginInterface" type="Ctasca\MageBundle\Model\Maker\Plugin"/>
    <preference for="Ctasca\MageBundle\Api\MakerCronInterface" type="Ctasca\MageBundle\Model\Maker\Cron"/>
    <preference for="Ctasca\MageBundle\Api\MakerConsoleCommandInterface" type="Ctasca\MageBundle\Model\Maker\ConsoleCommand"/>
    <preference for="Ctasca\MageBundle\Api\MakerDataPatchInterface" type="Ctasca\MageBundle\Model\Maker\DataPatch"/>
    <preference for="Ctasca\MageBundle\Api\MakerSchemaPatchInterface" type="Ctasca\MageBundle\Model\Maker\SchemaPatch"/>
    <preference for="Ctasca\MageBundle\Api\MakerApiInterfaceInterface" type="Ctasca\MageBundle\Model\Maker\ApiInterface"/>
    <preference for="Ctasca\MageBundle\Api\MakerJQueryWidgetInterface" type="Ctasca\MageBundle\Model\Maker\JQueryWidget"/>
    <preference for="Ctasca\MageBundle\Api\MakerUiComponentInterface" type="Ctasca\MageBundle\Model\Maker\UiComponent"/>
    <preference for="Ctasca\MageBundle\Api\MakerLoggerInterface" type="Ctasca\MageBundle\Model\Maker\Logger"/>
    <preference for="Ctasca\MageBundle\Api\MakerJsMixinInterface" type="Ctasca\MageBundle\Model\Maker\JsMixin"/>
    <preference for="Ctasca\MageBundle\Api\MakerRepositoryInterface" type="Ctasca\MageBundle\Model\Maker\Repository"/>
    <preference for="Ctasca\MageBundle\Api\MakerUiComponentXmlInterface" type="Ctasca\MageBundle\Model\Maker\UiComponentGrid"/>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="createModuleCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateModuleCommand</item>
                <item name="createControllerCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateControllerCommand</item>
                <item name="createEtcXmlCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateEtcXmlCommand</item>
                <item name="createModelSetCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateModelSetCommand</item>
                <item name="createModelCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateModelCommand</item>
                <item name="createBlockCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateBlockCommand</item>
                <item name="createHelperCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateHelperCommand</item>
                <item name="createCustomerDataCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateCustomerDataCommand</item>
                <item name="createViewModelCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateViewModelCommand</item>
                <item name="createObserverCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateObserverCommand</item>
                <item name="createPluginCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreatePluginCommand</item>
                <item name="createCronCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateCronCommand</item>
                <item name="createConsoleCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateConsoleCommandCommand</item>
                <item name="createDataPatchCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateDataPatchCommand</item>
                <item name="createSchemaPatchCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateSchemaPatchCommand</item>
                <item name="createApiInterfaceCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateApiInterfaceCommand</item>
                <item name="createJQueryWidgetCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateJQueryWidgetCommand</item>
                <item name="createUiComponentCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateUiComponentCommand</item>
                <item name="createLoggerCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateLoggerCommand</item>
                <item name="createJsMixinCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateJsMixinCommand</item>
                <item name="createRepositoryCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateRepositoryCommand</item>
                <item name="createUiGridXmlCommand" xsi:type="object">Ctasca\MageBundle\Console\Command\CreateUiGridXmlCommand</item>

            </argument>
        </arguments>
    </type>
    <type name="Ctasca\MageBundle\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Ctasca\MageBundle\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">MageBundle_Logger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Ctasca\MageBundle\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
